.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/logs/*
/storage/framework/views/*
# Fichiers temporaires de l'extension PHP IntelliSense (VS Code)
/storage/framework/lsp-*.php
/storage/app/private/*
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/photo_url
.phpunit.result.cache
.idea/
.vscode/
/docs/
